{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.0.0",
    "label": "Test 1",
    "remark": "Test Demoapp deployment",
    "{{ as3_tenant_name }}": {
      "class": "Tenant",
      "{{ as3_app_name }}": {
        "class": "Application",
        "demo_app_https_vs": {
          "class": "Service_HTTPS",
          "virtualAddresses": [
            "{{ as3_vip_address }}"
          ],
          "virtualPort": {{ as3_vip_port }},
          "shareAddresses": true,
          "iRules": [
            "rule_client_xff_replace_host"
          ],
          "profileHTTP": {
            "use": "http_xff"
          },
          "serverTLS": {
            "bigip": "/Common/clientssl"
          },
          "pool": "demo_app_http_pool"
        },
        "rule_client_xff_replace_host": {
          "class": "iRule",
          "iRule": "when HTTP_REQUEST { HTTP::header replace Host \"{{ as3_backend_hostname }}\" }"
        },
        "http_xff": {
          "class": "HTTP_Profile",
          "xForwardedFor": true
        },
        "demo_app_http_pool": {
          "class": "Pool",
          "monitors": [
            "http"
          ],
          "members": [
            {
              "servicePort": {{ as3_pool_port }},
              "serverAddresses": [
                "{{ as3_pool_member_ip }}"
              ]
            }
          ]
        }
      }
    }
  }
}
